.order-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0;
  background-color: #f9f9f9;
}

.order-container h3 {
  margin-top: 0;
  color: #7d0d0d;
}

.order-container p {
  margin: 5px 0;
}

.order-container strong {
  color: #333;
}
