.checkout-button {
  background-color: #7d0d0d;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.checkout-button:hover {
  background-color: #a00;
}

.email-note {
  font-size: 0.9rem;
  color: #666;
  margin-top: 10px;
  text-align: center;
}
